[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/Bedrock"]
	path = thirdparty/Bedrock
	url = https://github.com/jlaumon/Bedrock.git
